.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/
.lineage/
.nf-test*
tests/assets/*.h5ad
contrib/nf-core-test-datasets/build_output/
contrib/nf-core-test-datasets/extension_base/
