/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nictru/test-datasets/d82631768a1a6d4cd3d453ba87c8ce87a67f9cb3/'
    analysis_plan = "${projectDir}/tests/analysis_plan.csv"
    // CyteType calls a slow remote LLM API; only module nf-tests cover it
    cytetype_study_context = ''
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

process {
    withName: CELLBENDER_REMOVEBACKGROUND {
        ext.args = '--epochs 2'
    }
    withName: SCARCHES_EXPIMAP {
        ext.args = '--hidden-layer-sizes 16 16 --n-epochs 1 --alpha-epoch-anneal 1 --no-use-early-stopping'
    }
}
