/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    input = 'https://github.com/nf-core/test-datasets/raw/scdownstream/samplesheet.csv'
    integration_hvgs = 500
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '10.GB',
        time: '6.h'
    ]
}
