/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nictru/test-datasets/97addfb0946c0e51dbb70ee1391142d12e70f085'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

process {
    withName: SCVITOOLS_SCVI {
        ext.max_epochs = 5
    }
    withName: SCVITOOLS_SCANVI {
        ext.max_epochs = 5
    }
    withName: CELLBENDER_REMOVEBACKGROUND {
        ext.args = '--epochs 2'
    }
}
