process { withName: 'CELL2CELL_TENSOR' { container = 'community.wave.seqera.io/library/liana_cell2cell_pyyaml:e1c79b6f5219622d' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'community.wave.seqera.io/library/decoupler_pseudobulk:3544cf5bf51a67eb' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_differential:c767657d23bba8d5' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_sc_differential:17a2c60695274850' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'community.wave.seqera.io/library/liana_pyyaml:8505a353f9fdc1f5' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--3e45d17b40a576b4' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/pydeseq2_differential:69037b7710c45dd5' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:30d03381bfe6bb5f' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:1ffabec2e58c5ef2' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'community.wave.seqera.io/library/adjusttext_anndata_pandas_python_pruned:43d695ff26eb12f2' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:6b7470a8dda01c5a' } }
process { withName: 'SCRY_DEVIANCE' { container = 'community.wave.seqera.io/library/scry_deviance:e6de94678d508788' } }
