process { withName: 'CELL2CELL_TENSOR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ef/efdbfc407c90653e8754fdece7cd06498feccae7098260c5e57dfbfca693234b/data' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1a/1a40e20f344b704397d43636a86d0e89b6098406da4c72a15e9ed89c2bf07438/data' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a2/a23d56f7e94a4c3668dd3fc5a6c8f359db980145dcc658ccae289e7734e7c242/data' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/633641a5a0db67790d891566571c9f9f9675b304d4ca5ac7fa6423614c394f45/data' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5e/5e5ac3750642933ecd34611b40f517bc5118351d734c8059a3ca29c29a50418d/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c0/c007304153702edc622f1a76b41505e7fca65c7145e5b8b2ddce62a5c59af207/data' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a7/a7b64621af41893871e0e6d95ad98bcfe825fc78151e33b6a78976c247bbc0d4/data' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9b/9b3d9ee8d1211a7801cfce8fd6424ae9b093126e54a63df33a774edbd0ab34b9/data' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/188995f4986086c3b17bdefed71c7241576caa857a4388900df1313464893d2f/data' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/1018024c31ecf24d8c52cf9db7610b043dd63053c91def87ab979d345b920330/data' } }
process { withName: 'SCRY_DEVIANCE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24af11b88761bc7c73f8047cc76358629cc63f527c9a206a885acb35bc49b717/data' } }
