process { withName: 'ADATA_ENTROPY' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:0c861a7c241fd798' } }
process { withName: 'ADATA_EXTEND' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:72ec1c0689f619a5' } }
process { withName: 'ADATA_MERGE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'ADATA_MYGENE' { container = 'oras://community.wave.seqera.io/library/mygene_anndata_pyyaml:7fef85eb9cc50e7c' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'ADATA_READCSV' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:72ec1c0689f619a5' } }
process { withName: 'ADATA_SETINDEX' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:72ec1c0689f619a5' } }
process { withName: 'ADATA_SPLITCOL' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:72ec1c0689f619a5' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:72ec1c0689f619a5' } }
process { withName: 'ADATA_TORDS' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_bioconductor-singlecellexperiment:ce2194e4f5c6255b' } }
process { withName: 'ADATA_UNIFY' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:72ec1c0689f619a5' } }
process { withName: 'ADATA_UPSETGENES' { container = 'oras://community.wave.seqera.io/library/adata_upsetgenes:8e8550521fba6879' } }
process { withName: 'CELDA_DECONTX' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celda_bioconductor-rhdf5_bioconductor-singlecellexperiment:9307c9239b1a245b' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'oras://community.wave.seqera.io/library/liana_cell2cell_pyyaml:a49db141391430fc' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'oras://community.wave.seqera.io/library/celltypist:049f700f187a0acb' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'oras://community.wave.seqera.io/library/custom_collectsizes:44c5a50729347cb5' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'oras://community.wave.seqera.io/library/doublet_removal:e4f376f41190cfe2' } }
process { withName: 'CYTETYPE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_pydantic_anndata_pruned:85209daf09d493e5' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'oras://community.wave.seqera.io/library/decoupler_pseudobulk:b0b7d806f5ed5995' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_differential:1fdd708bb11aedb7' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_sc_differential:c0dfacdd1042cbbc' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'oras://community.wave.seqera.io/library/pip_hugo-unifier:a8600ca75fe2638f' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'oras://community.wave.seqera.io/library/pip_hugo-unifier:a8600ca75fe2638f' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:7e6acef60d8044bc' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:7e6acef60d8044bc' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--f79e87603d312ac0' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/pydeseq2_differential:761b8160fda17ff2' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:7d72e3278e7e6862' } }
process { withName: 'SCANPY_BBKNN' { container = 'oras://community.wave.seqera.io/library/bbknn_python_pyyaml_scanpy:5bb44164ae30431a' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_COMBAT' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_FILTER' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:a59923ae1a7fdb2b' } }
process { withName: 'SCANPY_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:a59923ae1a7fdb2b' } }
process { withName: 'SCANPY_LEIDEN' { container = 'oras://community.wave.seqera.io/library/leidenalg_python-igraph_python_pyyaml_scanpy:46f198136eb937c0' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:a59923ae1a7fdb2b' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'oras://community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:a4e8b5c0aa66b012' } }
process { withName: 'SCANPY_PAGA' { container = 'oras://community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:a4e8b5c0aa66b012' } }
process { withName: 'SCANPY_PCA' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:4b54127cdfe403f0' } }
process { withName: 'SCANPY_PLOTQC' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_adjusttext:99473890245d5c0a' } }
process { withName: 'SCANPY_READH5' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_SAMPLE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_TSNE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCANPY_UMAP' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:3c6583657518f105' } }
process { withName: 'SCDBLFINDER' { container = 'oras://community.wave.seqera.io/library/scdblfinder:8d3b2bc88689afe0' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_pip_scib-metrics:0ba3da6e3ab8bd67' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:096fc5b6f231bb68' } }
process { withName: 'SCRY_DEVIANCE' { container = 'oras://community.wave.seqera.io/library/scry_deviance:fcc163e55be10858' } }
process { withName: 'SOUPX' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_r-seurat_r-soupx:9a6d531ff05aaa6f' } }
