process { withName: 'ADATA_ENTROPY' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:ac3ac2750a283ec9' } }
process { withName: 'ADATA_EXTEND' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:5ac0fd4d280528a5' } }
process { withName: 'ADATA_MERGE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'ADATA_MYGENE' { container = 'community.wave.seqera.io/library/mygene_anndata_pyyaml:98db2848ee7bb9d4' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'ADATA_READCSV' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:5ac0fd4d280528a5' } }
process { withName: 'ADATA_READRDS' { container = 'community.wave.seqera.io/library/anndata2ri_bioconductor-singlecellexperiment_anndata_r-seurat:5fae42aabf7a1c5f' } }
process { withName: 'ADATA_SETINDEX' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:5ac0fd4d280528a5' } }
process { withName: 'ADATA_SPLITCOL' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:5ac0fd4d280528a5' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:5ac0fd4d280528a5' } }
process { withName: 'ADATA_TORDS' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_bioconductor-singlecellexperiment:7f4fd121bcbeb705' } }
process { withName: 'ADATA_UNIFY' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:5ac0fd4d280528a5' } }
process { withName: 'ADATA_UPSETGENES' { container = 'community.wave.seqera.io/library/adata_upsetgenes:34d3926eec711cfc' } }
process { withName: 'CELDA_DECONTX' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celda_bioconductor-rhdf5_bioconductor-singlecellexperiment:195bce13eb18b882' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'community.wave.seqera.io/library/liana_cell2cell_pyyaml:50d977636ad3e43e' } }
process { withName: 'CELLDEX_FETCHREFERENCE' { container = 'community.wave.seqera.io/library/bioconductor-celldex_bioconductor-hdf5array_bioconductor-singlecellexperiment_r-yaml:13bf33457e3e7490' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'community.wave.seqera.io/library/celltypist:5c8a1d7b51207f8e' } }
process { withName: 'CELLTYPES_SINGLER' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celldex_bioconductor-hdf5array_bioconductor-rhdf5_pruned:74e0a8e51f7ab89c' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'community.wave.seqera.io/library/custom_collectsizes:ddf7b396f2bfaa5d' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'community.wave.seqera.io/library/doublet_removal:be35baa3d64eb9b7' } }
process { withName: 'CYTETYPE' { container = 'community.wave.seqera.io/library/python_pyyaml_pydantic_anndata_pruned:c5e32374cbaee1c4' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'community.wave.seqera.io/library/decoupler_pseudobulk:22ffb587b73301b8' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_differential:663a87cf9609bfbd' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_sc_differential:2fe5a778fe82c638' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'community.wave.seqera.io/library/pip_hugo-unifier:559c1bb3b4aa3398' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'community.wave.seqera.io/library/pip_hugo-unifier:559c1bb3b4aa3398' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'community.wave.seqera.io/library/liana_pyyaml:c2bc77d30223be1f' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'community.wave.seqera.io/library/liana_pyyaml:c2bc77d30223be1f' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--839587b417d23042' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/pydeseq2_differential:c83f772671389253' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:095181a9ed452380' } }
process { withName: 'SCANPY_BBKNN' { container = 'community.wave.seqera.io/library/bbknn_python_pyyaml_scanpy:a0553ec6ac27f462' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_COMBAT' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_FILTER' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:f7441a003c01f440' } }
process { withName: 'SCANPY_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:f7441a003c01f440' } }
process { withName: 'SCANPY_LEIDEN' { container = 'community.wave.seqera.io/library/leidenalg_python-igraph_python_pyyaml_scanpy:ce926a86f015211a' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:f7441a003c01f440' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:e5a54bd2b6c9720d' } }
process { withName: 'SCANPY_PAGA' { container = 'community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:e5a54bd2b6c9720d' } }
process { withName: 'SCANPY_PCA' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:641b33efb395c24e' } }
process { withName: 'SCANPY_PLOTQC' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_adjusttext:c1e4685cda2d8cf3' } }
process { withName: 'SCANPY_READH5' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_SAMPLE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_TSNE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCANPY_UMAP' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ab265932a4ff2ebf' } }
process { withName: 'SCARCHES_EXPIMAP' { container = 'community.wave.seqera.io/library/anndata_lightning_numpy_pip_pruned:08aebf94dee8bc48' } }
process { withName: 'SCDBLFINDER' { container = 'community.wave.seqera.io/library/scdblfinder:bf67b6150784b907' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'community.wave.seqera.io/library/python_pyyaml_pip_scib-metrics:9752793e315dcbf9' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:88502e87f79b51e8' } }
process { withName: 'SCRY_DEVIANCE' { container = 'community.wave.seqera.io/library/scry_deviance:42e91d77e88fcfe6' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-glmgampoi_bioconductor-rhdf5_r-seurat:a0acfd4813d44adc' } }
process { withName: 'SOUPX' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_r-seurat_r-soupx:50aef4aa28333b3c' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pip_symphonypy:2198c27c5c9392d5' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pip_symphonypy:2198c27c5c9392d5' } }
