process { withName: 'ADATA_ENTROPY' { container = 'modules/local/adata/entropy/.conda-lock/linux_amd64-bd-803778b2933f5bc9_1.txt' } }
process { withName: 'ADATA_EXTEND' { container = 'modules/local/adata/extend/.conda-lock/linux_amd64-bd-6427a8e8cd0e418b_1.txt' } }
process { withName: 'ADATA_MERGE' { container = 'modules/local/adata/merge/.conda-lock/linux_amd64-bd-ec0559841ac88fb2_1.txt' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'modules/local/adata/mergeembeddings/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'ADATA_MYGENE' { container = 'modules/local/adata/mygene/.conda-lock/linux_amd64-bd-2078fdff1608539a_1.txt' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'modules/local/adata/prepcellxgene/.conda-lock/linux_amd64-bd-ec0559841ac88fb2_1.txt' } }
process { withName: 'ADATA_READCSV' { container = 'modules/local/adata/readcsv/.conda-lock/linux_amd64-bd-eec9fad329c5006d_1.txt' } }
process { withName: 'ADATA_READRDS' { container = 'modules/local/adata/readrds/.conda-lock/linux_amd64-bd-771ff9c89e1f71db_1.txt' } }
process { withName: 'ADATA_SETINDEX' { container = 'modules/local/adata/setindex/.conda-lock/linux_amd64-bd-eec9fad329c5006d_1.txt' } }
process { withName: 'ADATA_SPLITCOL' { container = 'modules/local/adata/splitcol/.conda-lock/linux_amd64-bd-eec9fad329c5006d_1.txt' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'modules/local/adata/splitembeddings/.conda-lock/linux_amd64-bd-ec0559841ac88fb2_1.txt' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'modules/local/adata/subsetvar/.conda-lock/linux_amd64-bd-eec9fad329c5006d_1.txt' } }
process { withName: 'ADATA_TORDS' { container = 'modules/local/adata/tords/.conda-lock/linux_amd64-bd-7f4fd121bcbeb705_1.txt' } }
process { withName: 'ADATA_UNIFY' { container = 'modules/local/adata/unify/.conda-lock/linux_amd64-bd-eec9fad329c5006d_1.txt' } }
process { withName: 'ADATA_UPSETGENES' { container = 'modules/local/adata/upsetgenes/.conda-lock/linux_amd64-bd-99308af0235c51d3_1.txt' } }
process { withName: 'CELDA_DECONTX' { container = 'modules/local/celda/decontx/.conda-lock/linux_amd64-bd-195bce13eb18b882_1.txt' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'modules/local/cell2cell/tensor/.conda-lock/linux_amd64-bd-50d977636ad3e43e_1.txt' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'modules/local/celltypist/.conda-lock/linux_amd64-bd-a4fa2621f1596f41_1.txt' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'modules/local/custom/aggregate_per_cell_annotations/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'modules/local/custom/collectsizes/.conda-lock/linux_amd64-bd-5b6a03eb50fdf124_1.txt' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'modules/local/custom/doubletremoval/.conda-lock/linux_amd64-bd-e440f2e80dfdf805_1.txt' } }
process { withName: 'CYTETYPE' { container = 'modules/local/cytetype/.conda-lock/linux_amd64-bd-87cef5886d0c62d2_1.txt' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'modules/local/decoupler/pseudobulk/.conda-lock/linux_amd64-bd-22ffb587b73301b8_1.txt' } }
process { withName: 'DOUBLETDETECTION' { container = 'modules/nf-core/doubletdetection/.conda-lock/linux_amd64-bd-7bde77eb6c6fbc17_1.txt' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'modules/local/edgepython/differential/.conda-lock/linux_amd64-bd-78291b4bf99b9d80_2.txt' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'modules/local/edgepython/sc_differential/.conda-lock/linux_amd64-bd-cd9a9abd8ba6d7e3_2.txt' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'modules/local/hugounifier/apply/.conda-lock/linux_amd64-bd-1545f5b4052d6b2d_1.txt' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'modules/local/hugounifier/get/.conda-lock/linux_amd64-bd-1545f5b4052d6b2d_1.txt' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'modules/local/liana/bysample/.conda-lock/linux_amd64-bd-c2bc77d30223be1f_1.txt' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'modules/local/liana/rankaggregate/.conda-lock/linux_amd64-bd-5fc198487f068dd6_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-839587b417d23042_1.txt' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'modules/local/pydeseq2/differential/.conda-lock/linux_amd64-bd-c4673c2cbf3ec8a7_2.txt' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'modules/local/scanorama/integrate/.conda-lock/linux_amd64-bd-100d7fce0082a614_1.txt' } }
process { withName: 'SCANPY_BBKNN' { container = 'modules/local/scanpy/bbknn/.conda-lock/linux_amd64-bd-adc0dbad6ddd2876_2.txt' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'modules/local/scanpy/cellcycle/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'SCANPY_COMBAT' { container = 'modules/local/scanpy/combat/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'SCANPY_FILTER' { container = 'modules/local/scanpy/filter/.conda-lock/linux_amd64-bd-7df6225e45ce62d7_1.txt' } }
process { withName: 'SCANPY_HVGS' { container = 'modules/local/scanpy/hvgs/.conda-lock/linux_amd64-bd-803778b2933f5bc9_1.txt' } }
process { withName: 'SCANPY_LEIDEN' { container = 'modules/local/scanpy/leiden/.conda-lock/linux_amd64-bd-bcac6e9b185de544_1.txt' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'modules/local/scanpy/log1pnorm/.conda-lock/linux_amd64-bd-7df6225e45ce62d7_1.txt' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'modules/local/scanpy/neighbors/.conda-lock/linux_amd64-bd-53120062012176bc_1.txt' } }
process { withName: 'SCANPY_PAGA' { container = 'modules/local/scanpy/paga/.conda-lock/linux_amd64-bd-53120062012176bc_1.txt' } }
process { withName: 'SCANPY_PCA' { container = 'modules/local/scanpy/pca/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'modules/local/scanpy/pearsonresidualshvgs/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'SCANPY_PLOTQC' { container = 'modules/local/scanpy/plotqc/.conda-lock/linux_amd64-bd-ec0559841ac88fb2_1.txt' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'modules/local/scanpy/rankgenesgroups/.conda-lock/linux_amd64-bd-bb9fae9f02f816e2_2.txt' } }
process { withName: 'SCANPY_READH5' { container = 'modules/local/scanpy/readh5/.conda-lock/linux_amd64-bd-ec0559841ac88fb2_1.txt' } }
process { withName: 'SCANPY_SAMPLE' { container = 'modules/local/scanpy/sample/.conda-lock/linux_amd64-bd-ec0559841ac88fb2_1.txt' } }
process { withName: 'SCANPY_SCRUBLET' { container = 'modules/nf-core/scanpy/scrublet/.conda-lock/linux_amd64-bd-baaeebe49bb1193e_1.txt' } }
process { withName: 'SCANPY_TSNE' { container = 'modules/local/scanpy/tsne/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'SCANPY_UMAP' { container = 'modules/local/scanpy/umap/.conda-lock/linux_amd64-bd-4be15c4d717947be_1.txt' } }
process { withName: 'SCARCHES_EXPIMAP' { container = 'modules/local/scarches/expimap/.conda-lock/linux_amd64-bd-fb32ad9bb2dc1d4b_1.txt' } }
process { withName: 'SCDBLFINDER' { container = 'modules/local/scdblfinder/.conda-lock/linux_amd64-bd-bf67b6150784b907_1.txt' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'modules/local/scibmetrics/benchmark/.conda-lock/linux_amd64-bd-9752793e315dcbf9_1.txt' } }
process { withName: 'SCIMILARITY_ANNOTATE' { container = 'modules/local/scimilarity/annotate/.conda-lock/linux_amd64-bd-e48f77182189ae52_1.txt' } }
process { withName: 'SCIMILARITY_EMBED' { container = 'modules/local/scimilarity/embed/.conda-lock/linux_amd64-bd-e48f77182189ae52_1.txt' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'modules/local/scran/normalization/.conda-lock/linux_amd64-bd-88502e87f79b51e8_1.txt' } }
process { withName: 'SCRY_DEVIANCE' { container = 'modules/local/scry/deviance/.conda-lock/linux_amd64-bd-42e91d77e88fcfe6_1.txt' } }
process { withName: 'SCVITOOLS_SCANVI' { container = 'modules/local/scvitools/scanvi/.conda-lock/linux_amd64-bd-1734dedd3c3d134b_1.txt' } }
process { withName: 'SCVITOOLS_SCVI' { container = 'modules/local/scvitools/scvi/.conda-lock/linux_amd64-bd-1734dedd3c3d134b_1.txt' } }
process { withName: 'SCVITOOLS_SOLO' { container = 'modules/nf-core/scvitools/solo/.conda-lock/linux_amd64-bd-1734dedd3c3d134b_1.txt' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'modules/local/seurat/integration/.conda-lock/linux_amd64-bd-219408537f886c16_3.txt' } }
process { withName: 'SOUPX' { container = 'modules/local/soupx/.conda-lock/linux_amd64-bd-476949c3c02c399d_3.txt' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'modules/local/symphony/harmonyintegrate/.conda-lock/linux_amd64-bd-b85ec8f003db501a_1.txt' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'modules/local/symphony/mapembedding/.conda-lock/linux_amd64-bd-b85ec8f003db501a_1.txt' } }
