process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/63b778907daa8743d21b65174088943b8ea7cb6efaa79605c2bf2ba0b61d2a84/data' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ef/eff49ff9ce5ae24018eb162cdd5b32761901b28514fff1f61781ac1825a44c61/data' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e7/e7750a9d7aa07f2f73875f1f81ea2351480496f24bc782ca168364fd3f6747e5/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/12/1297c0f5075c19486da167ebf1b6136907d6b5339697b87b29fda335221785b3/data' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/07/07aa2f42d62525549d9a7265a8678c794e87b3ac403514fa1065b879e9e6cffb/data' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ee/ee5ffb0917263d09101dd05dc45c76aa239af97c58f2f5a368ac8a67a3eede3c/data' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f6/f692c0c793f5ac7da42963b22084153c26be689e512864095832318e77dee2f9/data' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0b/0b2b49fe343301d4aa2eb471d77a86b7d20be65804b6dca5294b212594abd6b5/data' } }
process { withName: 'SCRY_DEVIANCE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c4/c430d984a431d374c285a7a577f0496d8a514c1ad484feaaa86655259b594eb8/data' } }
