process { withName: 'ADATA_ENTROPY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/6c/6c7d23c670769d5bd110658d0e2977627fcc153b29d6d4a2a3d90e9f83b31cf2/data' } }
process { withName: 'ADATA_EXTEND' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/17/17a9c5e7440eed45044281ad7216d4f0cf97d503bd1aa940692e79d9980182af/data' } }
process { withName: 'ADATA_MERGE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/61/61239a82cb89944ca962bc7be4bbfc5e3761b7a708c1110881d3569fc3c6b7bb/data' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'ADATA_MYGENE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c1/c17b26923bcddab42b6c29663588f42b6b3d42c4c75deacc14a28851979d180e/data' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/61/61239a82cb89944ca962bc7be4bbfc5e3761b7a708c1110881d3569fc3c6b7bb/data' } }
process { withName: 'ADATA_READCSV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cba7e92411338805897f2d9e6c705b1ec323ee1055bb2844fa8386b589754505/data' } }
process { withName: 'ADATA_READRDS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e5/e5b2f3286197c38b9a736afe05962602ecadb55747d5da26e115df7b6eb64d83/data' } }
process { withName: 'ADATA_SETINDEX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cba7e92411338805897f2d9e6c705b1ec323ee1055bb2844fa8386b589754505/data' } }
process { withName: 'ADATA_SPLITCOL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cba7e92411338805897f2d9e6c705b1ec323ee1055bb2844fa8386b589754505/data' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/61/61239a82cb89944ca962bc7be4bbfc5e3761b7a708c1110881d3569fc3c6b7bb/data' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cba7e92411338805897f2d9e6c705b1ec323ee1055bb2844fa8386b589754505/data' } }
process { withName: 'ADATA_TORDS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2d/2d4d29d7ed9cf3cc735c979edd8f16ba7b8ea3b7daae545e431d187c34cb1e31/data' } }
process { withName: 'ADATA_UNIFY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/cb/cba7e92411338805897f2d9e6c705b1ec323ee1055bb2844fa8386b589754505/data' } }
process { withName: 'ADATA_UPSETGENES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/fe/fec750186498d1b2f175edb2401ad1b5da8681a7f20871147e29732c3c643531/data' } }
process { withName: 'CELDA_DECONTX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/79/7984207dd5d85c00e2ee3e04f0ce40161f3a378cb9cb26cc7f1cd36f291ea567/data' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ef/efdbfc407c90653e8754fdece7cd06498feccae7098260c5e57dfbfca693234b/data' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1e/1ed4807ab4f0f17c59bec5c273701305d92c9735336ab4f1b265eaf1e970717d/data' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/d3/d338ff78da2b90b0e94c36fd3c91a6f8cabadef4509d92c98e6d0cd6b8b0fdba/data' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ba/ba4eb68c2349d8a161b0c911f1d2ca2d7b0d902664071bdf7406c3947a84d0c0/data' } }
process { withName: 'CYTETYPE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7d/7d5ceecffd20de852f01e91d03c187f9adee247ff8d62991a368f57c13e1fff7/data' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1a/1a40e20f344b704397d43636a86d0e89b6098406da4c72a15e9ed89c2bf07438/data' } }
process { withName: 'DOUBLETDETECTION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/b1/b1791a513fcfc8e90c287f4c0dfba7fdf465b277bf52aca4f7ace34af3078562/data' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/17/1725011f8764afdf8201e15cd09e7f4213449ee910f62f264f2e8990f614d15e/data' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/8c/8c1e5a284bd3002dd63620e01b2eec3864d091dead0461126a6f3fe163303c72/data' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2b/2b18df290d51e9b1d5f58f50d673bf836d7ba8fd90d4145a2abb9d2af50ab37f/data' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2b/2b18df290d51e9b1d5f58f50d673bf836d7ba8fd90d4145a2abb9d2af50ab37f/data' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5e/5e5ac3750642933ecd34611b40f517bc5118351d734c8059a3ca29c29a50418d/data' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/85/8590ad072fb1266878d3a1d12815762892b0336861c5ecff0ceff723844206b2/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c0/c007304153702edc622f1a76b41505e7fca65c7145e5b8b2ddce62a5c59af207/data' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/13/1383d394af67e221a56319823db7bc7f170c29ba24c2b9868f9572499966f452/data' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/40/40e69e31edb6f4a5da2458b0c93a3dd51ee3ff95fb7700d22b09e730028e4cdd/data' } }
process { withName: 'SCANPY_BBKNN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/8c/8c0e53285fa5d147e8990d86d075db7baa7c02bd76c8bd6563b561c0f3b7d933/data' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'SCANPY_COMBAT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'SCANPY_FILTER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/8e/8ee13ecdaa99dce07a579e1d2fdb44fe541679c272ca78ad23752e6884fe05b7/data' } }
process { withName: 'SCANPY_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/6c/6c7d23c670769d5bd110658d0e2977627fcc153b29d6d4a2a3d90e9f83b31cf2/data' } }
process { withName: 'SCANPY_LEIDEN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f0/f0c0e9e4f38c6f223208a422e2f691294571a7c8200627e6484fcb31ed44ff85/data' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/8e/8ee13ecdaa99dce07a579e1d2fdb44fe541679c272ca78ad23752e6884fe05b7/data' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0b/0bee94d9c751f8e4e66087403f279fc5653099009bf604cea7a8df716e424796/data' } }
process { withName: 'SCANPY_PAGA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0b/0bee94d9c751f8e4e66087403f279fc5653099009bf604cea7a8df716e424796/data' } }
process { withName: 'SCANPY_PCA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'SCANPY_PLOTQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/61/61239a82cb89944ca962bc7be4bbfc5e3761b7a708c1110881d3569fc3c6b7bb/data' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/be/beed093de9e7e6198e68e74342f702003c0fc4643e611a1782bc5cb03c5622af/data' } }
process { withName: 'SCANPY_READH5' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/61/61239a82cb89944ca962bc7be4bbfc5e3761b7a708c1110881d3569fc3c6b7bb/data' } }
process { withName: 'SCANPY_SAMPLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/61/61239a82cb89944ca962bc7be4bbfc5e3761b7a708c1110881d3569fc3c6b7bb/data' } }
process { withName: 'SCANPY_SCRUBLET' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/d8/d8a2f975cb02bb94c835371a52f43b16a2a5e80e60ae1541968b71d2da0e95e3/data' } }
process { withName: 'SCANPY_TSNE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'SCANPY_UMAP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a1faf9321a7483071cb34c7556e87e3084491da6f9b75868f2644eea4a43cf3b/data' } }
process { withName: 'SCARCHES_EXPIMAP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ec/eced41b6961fd16c2ca17ebb38fa8094ac0ddd1130675c94d8ade8cfb0ecedb9/data' } }
process { withName: 'SCDBLFINDER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/34/34949e2702ea45b1cc1f59af7806be4a69d2af35729bc7ca798fe4beaf14e18d/data' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/259f7c888137ae8f271a81c834d08483626028c765ab652802894d4a918ffee2/data' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/1018024c31ecf24d8c52cf9db7610b043dd63053c91def87ab979d345b920330/data' } }
process { withName: 'SCRY_DEVIANCE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24af11b88761bc7c73f8047cc76358629cc63f527c9a206a885acb35bc49b717/data' } }
process { withName: 'SCVITOOLS_SCANVI' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/72/72725d93ae508bba1686efde0a23b47e4fb011d0abf55f364eebe29e643d5708/data' } }
process { withName: 'SCVITOOLS_SCVI' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/72/72725d93ae508bba1686efde0a23b47e4fb011d0abf55f364eebe29e643d5708/data' } }
process { withName: 'SCVITOOLS_SOLO' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/72/72725d93ae508bba1686efde0a23b47e4fb011d0abf55f364eebe29e643d5708/data' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/e7/e75a5f63d3d46360abc68805e2ccd853ba2217792c02e90ab9e9169476bd933c/data' } }
process { withName: 'SOUPX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a0/a09afb80d3c9984721a0240fcbedc8324ed4795f83d581af5d1f647de629c2bd/data' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/37/3744522911b0b006bae0047a24877bc3c33c6b161b9dda22f4caeac249bffd18/data' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/37/3744522911b0b006bae0047a24877bc3c33c6b161b9dda22f4caeac249bffd18/data' } }
