process { withName: 'CELL2CELL_TENSOR' { container = 'modules/local/cell2cell/tensor/.conda-lock/linux_arm64-bd-e1c79b6f5219622d_1.txt' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'modules/local/decoupler/pseudobulk/.conda-lock/linux_arm64-bd-3544cf5bf51a67eb_1.txt' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'modules/local/edgepython/differential/.conda-lock/linux_arm64-bd-c767657d23bba8d5_1.txt' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'modules/local/edgepython/sc_differential/.conda-lock/linux_arm64-bd-17a2c60695274850_1.txt' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'modules/local/liana/bysample/.conda-lock/linux_arm64-bd-8505a353f9fdc1f5_1.txt' } }
process { withName: 'MULTIQC' { container = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-3e45d17b40a576b4_1.txt' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'modules/local/pydeseq2/differential/.conda-lock/linux_arm64-bd-69037b7710c45dd5_1.txt' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'modules/local/scanorama/integrate/.conda-lock/linux_arm64-bd-30d03381bfe6bb5f_1.txt' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'modules/local/scanpy/pearsonresidualshvgs/.conda-lock/linux_arm64-bd-1ffabec2e58c5ef2_1.txt' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'modules/local/scanpy/rankgenesgroups/.conda-lock/linux_arm64-bd-43d695ff26eb12f2_1.txt' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'modules/local/scran/normalization/.conda-lock/linux_arm64-bd-6b7470a8dda01c5a_1.txt' } }
process { withName: 'SCRY_DEVIANCE' { container = 'modules/local/scry/deviance/.conda-lock/linux_arm64-bd-e6de94678d508788_1.txt' } }
