process { withName: 'ADATA_ENTROPY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/31/31c815b64e5965af8766bce7e2e6f8991445377a5f791037b989c9d311b3d2a6/data' } }
process { withName: 'ADATA_EXTEND' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/56/56a42f6f5e1d7d9aec93ae546b21b3af0c424dfbda6385b018bab9c51ff95f0f/data' } }
process { withName: 'ADATA_MERGE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'ADATA_MYGENE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/00/0057488efc92b187cec53970ee3f2a6bd669eae375b6cc3e15badd989226f9fb/data' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'ADATA_READCSV' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/56/56a42f6f5e1d7d9aec93ae546b21b3af0c424dfbda6385b018bab9c51ff95f0f/data' } }
process { withName: 'ADATA_SETINDEX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/56/56a42f6f5e1d7d9aec93ae546b21b3af0c424dfbda6385b018bab9c51ff95f0f/data' } }
process { withName: 'ADATA_SPLITCOL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/56/56a42f6f5e1d7d9aec93ae546b21b3af0c424dfbda6385b018bab9c51ff95f0f/data' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/56/56a42f6f5e1d7d9aec93ae546b21b3af0c424dfbda6385b018bab9c51ff95f0f/data' } }
process { withName: 'ADATA_TORDS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2d/2d4d29d7ed9cf3cc735c979edd8f16ba7b8ea3b7daae545e431d187c34cb1e31/data' } }
process { withName: 'ADATA_UNIFY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/56/56a42f6f5e1d7d9aec93ae546b21b3af0c424dfbda6385b018bab9c51ff95f0f/data' } }
process { withName: 'ADATA_UPSETGENES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/51/51ff048034a827846d3a8c6fa7e799bf7d52fa9f45275d8f80b132574d037fdb/data' } }
process { withName: 'CELDA_DECONTX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/79/7984207dd5d85c00e2ee3e04f0ce40161f3a378cb9cb26cc7f1cd36f291ea567/data' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ef/efdbfc407c90653e8754fdece7cd06498feccae7098260c5e57dfbfca693234b/data' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/d6/d68de3aa1f537c180318fa82a54ce0a68192e1ffef647cd0762f817b289b0538/data' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/07/0719bb0bb9930b7d4dc21d543caaef2a93bdaca922a54bc11b9239caf17c58da/data' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/13/1398c273f0185c9ededa9e012a62b07d030a103f84f2939191559a528e2c654a/data' } }
process { withName: 'CYTETYPE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f5/f595bc70c9a78589276871c3ecd03eb9eaa7e2ca019ae34ffc2e98030a2b0fa2/data' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1a/1a40e20f344b704397d43636a86d0e89b6098406da4c72a15e9ed89c2bf07438/data' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7f/7fd6b1b800c2ccdaa9eb5a908cfe729c3aab43cd1aa0266c66ea9659e4e30bf2/data' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/1f/1f93c6968a50adcc9c7d7d7459c041a2fa9cbdfdb6a9169d85252cdff4205720/data' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/85/8582151f42fb1e528aa81b41124085363160b8f58b4c6d23fa51de2c4ac2f231/data' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/85/8582151f42fb1e528aa81b41124085363160b8f58b4c6d23fa51de2c4ac2f231/data' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5e/5e5ac3750642933ecd34611b40f517bc5118351d734c8059a3ca29c29a50418d/data' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/5e/5e5ac3750642933ecd34611b40f517bc5118351d734c8059a3ca29c29a50418d/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c0/c007304153702edc622f1a76b41505e7fca65c7145e5b8b2ddce62a5c59af207/data' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/92/923cd4f4b1777f1c886cffbdd3aa61daa7b8b50e19a5ccd46bf59decc252708c/data' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/9b/9b3d9ee8d1211a7801cfce8fd6424ae9b093126e54a63df33a774edbd0ab34b9/data' } }
process { withName: 'SCANPY_BBKNN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/70/70d04458c3efda6ff4c0b21f1b238e87acab81553344f12c7f0401bdbc60d403/data' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_COMBAT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_FILTER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/18c80f8d095824aeb3ecff7aa79235418c94bef3862c5f7cc0892d2f1e22aabb/data' } }
process { withName: 'SCANPY_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/18c80f8d095824aeb3ecff7aa79235418c94bef3862c5f7cc0892d2f1e22aabb/data' } }
process { withName: 'SCANPY_LEIDEN' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/8e/8e1b5af758a6affaf729c39cd892232f40ad3a26b8e0cfd39c695dbfe2f42909/data' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/18c80f8d095824aeb3ecff7aa79235418c94bef3862c5f7cc0892d2f1e22aabb/data' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/50/50dcd170b7530455e14f1721aad03cb89343ae18b0d803476cdb96c4c2239540/data' } }
process { withName: 'SCANPY_PAGA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/50/50dcd170b7530455e14f1721aad03cb89343ae18b0d803476cdb96c4c2239540/data' } }
process { withName: 'SCANPY_PCA' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/18/188995f4986086c3b17bdefed71c7241576caa857a4388900df1313464893d2f/data' } }
process { withName: 'SCANPY_PLOTQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/2e/2ec3b68c9f887c4f0b9a7afb0670bf3c042d3f16fdea8e4ce14e543d9231d339/data' } }
process { withName: 'SCANPY_READH5' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_SAMPLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_TSNE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCANPY_UMAP' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc763fc46b9e3046fec418cc394fe447fd6a323f0f6f34a63b5528216eaa4f5c/data' } }
process { withName: 'SCDBLFINDER' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/34/34949e2702ea45b1cc1f59af7806be4a69d2af35729bc7ca798fe4beaf14e18d/data' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/25/259f7c888137ae8f271a81c834d08483626028c765ab652802894d4a918ffee2/data' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/1018024c31ecf24d8c52cf9db7610b043dd63053c91def87ab979d345b920330/data' } }
process { withName: 'SCRY_DEVIANCE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/24/24af11b88761bc7c73f8047cc76358629cc63f527c9a206a885acb35bc49b717/data' } }
process { withName: 'SOUPX' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/7c/7cf62793779fd9a355add43948edd15d3fd6b53efe5a29d0917151d6a742275d/data' } }
