process { withName: 'CELL2CELL_TENSOR' { container = 'oras://community.wave.seqera.io/library/liana_cell2cell_pyyaml:a49db141391430fc' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'oras://community.wave.seqera.io/library/decoupler_pseudobulk:b0b7d806f5ed5995' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_differential:1fdd708bb11aedb7' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_sc_differential:c0dfacdd1042cbbc' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:7e6acef60d8044bc' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--f79e87603d312ac0' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/pydeseq2_differential:761b8160fda17ff2' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:7d72e3278e7e6862' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:4b54127cdfe403f0' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_adjusttext:99473890245d5c0a' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:096fc5b6f231bb68' } }
process { withName: 'SCRY_DEVIANCE' { container = 'oras://community.wave.seqera.io/library/scry_deviance:fcc163e55be10858' } }
