process { withName: 'ADATA_ENTROPY' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'ADATA_EXTEND' { container = 'oras://community.wave.seqera.io/library/anndata_pandas_python_pyyaml:872b364b36a42b55' } }
process { withName: 'ADATA_MERGE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'ADATA_MYGENE' { container = 'oras://community.wave.seqera.io/library/mygene_anndata_pyyaml:9ef340356cb8598e' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'ADATA_READCSV' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:d4fa1bed84690377' } }
process { withName: 'ADATA_READRDS' { container = 'oras://community.wave.seqera.io/library/adata_readrds:8c80e878fe6abf7e' } }
process { withName: 'ADATA_SETINDEX' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:d4fa1bed84690377' } }
process { withName: 'ADATA_SPLITCOL' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:d4fa1bed84690377' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:d4fa1bed84690377' } }
process { withName: 'ADATA_TORDS' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_bioconductor-singlecellexperiment:1a865f9d6b840c65' } }
process { withName: 'ADATA_UNIFY' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:d4fa1bed84690377' } }
process { withName: 'ADATA_UPSETGENES' { container = 'oras://community.wave.seqera.io/library/adata_upsetgenes:989df1545a5511d1' } }
process { withName: 'CELDA_DECONTX' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celda_bioconductor-rhdf5_bioconductor-singlecellexperiment:88650a8823f87eb5' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'oras://community.wave.seqera.io/library/liana_cell2cell_pyyaml:4aa21e57bc12ba82' } }
process { withName: 'CELLDEX_FETCHREFERENCE' { container = 'oras://community.wave.seqera.io/library/bioconductor-celldex_bioconductor-hdf5array_bioconductor-singlecellexperiment_r-yaml:d0584a423cb1e25f' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'oras://community.wave.seqera.io/library/celltypist:f54d15faff6d295c' } }
process { withName: 'CELLTYPES_SINGLER' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celldex_bioconductor-hdf5array_bioconductor-rhdf5_pruned:74ee3f5a76245bba' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'oras://community.wave.seqera.io/library/custom_collectsizes:d7f8aacabc8954e3' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'oras://community.wave.seqera.io/library/doublet_removal:4df6b76062dbef38' } }
process { withName: 'CYTETYPE' { container = 'oras://community.wave.seqera.io/library/anndata_pandas_python_pyyaml_pruned:7dabe9f9458c93d1' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'oras://community.wave.seqera.io/library/decoupler_pseudobulk:ad376bac82cefac9' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_differential:39de3eab444f7520' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_sc_differential:241b3471c1a90886' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'oras://community.wave.seqera.io/library/pip_hugo-unifier:ed3394b1215b5018' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'oras://community.wave.seqera.io/library/pip_hugo-unifier:ed3394b1215b5018' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:0bd9764a267aa0cb' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:0bd9764a267aa0cb' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--cb7458fda84d6393' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/pydeseq2_differential:543ffbafdc9f4cfb' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:622b4f6cf54e514a' } }
process { withName: 'SCANPY_BBKNN' { container = 'oras://community.wave.seqera.io/library/bbknn_python_pyyaml_scanpy:73e640fb2394bccd' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_COMBAT' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_FILTER' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_LEIDEN' { container = 'oras://community.wave.seqera.io/library/leidenalg_python-igraph_python_pyyaml_scanpy:5947fe0b8b0892f8' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'oras://community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:b4a348276df1bb40' } }
process { withName: 'SCANPY_PAGA' { container = 'oras://community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:b4a348276df1bb40' } }
process { withName: 'SCANPY_PCA' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:e4262d9e523d875f' } }
process { withName: 'SCANPY_PLOTQC' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'oras://community.wave.seqera.io/library/adjusttext_anndata_pandas_python_pruned:b683517039b83998' } }
process { withName: 'SCANPY_READH5' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_SAMPLE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_TSNE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCANPY_UMAP' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:d182b95b1ec879c8' } }
process { withName: 'SCDBLFINDER' { container = 'oras://community.wave.seqera.io/library/scdblfinder:2f198185419063e8' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_pip_scib-metrics:2b4edaf51774369b' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:9a526df3f432bd30' } }
process { withName: 'SCRY_DEVIANCE' { container = 'oras://community.wave.seqera.io/library/scry_deviance:5d41236dea2d0037' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-glmgampoi_bioconductor-rhdf5_r-seurat:a6729b84b956a3d0' } }
process { withName: 'SOUPX' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_r-seurat_r-soupx:6066c4514711b26b' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pip_symphonypy:83e49f490ae658ee' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pip_symphonypy:83e49f490ae658ee' } }
