process { withName: 'CELL2CELL_TENSOR' { container = 'oras://community.wave.seqera.io/library/liana_cell2cell_pyyaml:4aa21e57bc12ba82' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'oras://community.wave.seqera.io/library/decoupler_pseudobulk:ad376bac82cefac9' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_differential:39de3eab444f7520' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_sc_differential:241b3471c1a90886' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:0bd9764a267aa0cb' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--cb7458fda84d6393' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/pydeseq2_differential:543ffbafdc9f4cfb' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:622b4f6cf54e514a' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:e4262d9e523d875f' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_adjusttext:75fa8d6fc536ce50' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:9a526df3f432bd30' } }
process { withName: 'SCRY_DEVIANCE' { container = 'oras://community.wave.seqera.io/library/scry_deviance:5d41236dea2d0037' } }
