process { withName: 'DECOUPLER_PSEUDOBULK' { conda = 'modules/local/decoupler/pseudobulk/.conda-lock/linux_amd64-bd-22ffb587b73301b8_1.txt' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { conda = 'modules/local/edgepython/differential/.conda-lock/linux_amd64-bd-02c681a3d671c936_1.txt' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { conda = 'modules/local/edgepython/sc_differential/.conda-lock/linux_amd64-bd-ebc200814cba178c_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_amd64-bd-839587b417d23042_1.txt' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { conda = 'modules/local/pydeseq2/differential/.conda-lock/linux_amd64-bd-f091151479129920_1.txt' } }
process { withName: 'SCANORAMA_INTEGRATE' { conda = 'modules/local/scanorama/integrate/.conda-lock/linux_amd64-bd-095181a9ed452380_1.txt' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { conda = 'modules/local/scanpy/pearsonresidualshvgs/.conda-lock/linux_amd64-bd-641b33efb395c24e_1.txt' } }
process { withName: 'SCRAN_NORMALIZATION' { conda = 'modules/local/scran/normalization/.conda-lock/linux_amd64-bd-88502e87f79b51e8_1.txt' } }
process { withName: 'SCRY_DEVIANCE' { conda = 'modules/local/scry/deviance/.conda-lock/linux_amd64-bd-42e91d77e88fcfe6_1.txt' } }
