process { withName: 'CELL2CELL_TENSOR' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/10/10d2843fde28026d17f6faffc136aaa352f85d91fec25d658f793e062f14f349/data' } }
process { withName: 'CUSTOM_VOLCANOPLOT' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/23/2367404f0aa4c23d7e0c15e24ccc53444bb650fbae12282a680db6c6ad3bdfbb/data' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/63/63b778907daa8743d21b65174088943b8ea7cb6efaa79605c2bf2ba0b61d2a84/data' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/bc/bc5e56de4a965746ba8d70e4d00e73f71815b799ac6747b0e5608cbbc8ca7623/data' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/79/7967cbf85b1f33815b4e84540f1ba3486dc6e7a87283b5ea5e5fe10391466851/data' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/00/00a0832cf7999e945fe1eea426fb5a59d4718af37c8e97b1768d7257904bfadb/data' } }
process { withName: 'MULTIQC' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/12/1297c0f5075c19486da167ebf1b6136907d6b5339697b87b29fda335221785b3/data' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/77/779736ea3b01e9f685d5a23697524e4a558e59284a73a51c779713cb697a4f59/data' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/ee/ee5ffb0917263d09101dd05dc45c76aa239af97c58f2f5a368ac8a67a3eede3c/data' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/f6/f692c0c793f5ac7da42963b22084153c26be689e512864095832318e77dee2f9/data' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/a1/a194f12854e4f73b2b4aab27102b3178bfd4dd50fb1332db413205ef3cbfca90/data' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/0b/0b2b49fe343301d4aa2eb471d77a86b7d20be65804b6dca5294b212594abd6b5/data' } }
process { withName: 'SCRY_DEVIANCE' { container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/c4/c430d984a431d374c285a7a577f0496d8a514c1ad484feaaa86655259b594eb8/data' } }
