process { withName: 'ADATA_ENTROPY' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:78841aafc4e2a25a' } }
process { withName: 'ADATA_EXTEND' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:301adaa9ed22ba3a' } }
process { withName: 'ADATA_MERGE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'ADATA_MYGENE' { container = 'community.wave.seqera.io/library/mygene_anndata_pyyaml:e90481ed3d99b9e5' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'ADATA_READCSV' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:301adaa9ed22ba3a' } }
process { withName: 'ADATA_READRDS' { container = 'community.wave.seqera.io/library/adata_readrds:517c46f7c9acffeb' } }
process { withName: 'ADATA_SETINDEX' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:301adaa9ed22ba3a' } }
process { withName: 'ADATA_SPLITCOL' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:301adaa9ed22ba3a' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:301adaa9ed22ba3a' } }
process { withName: 'ADATA_TORDS' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_bioconductor-singlecellexperiment:4536d1d3eeed2542' } }
process { withName: 'ADATA_UNIFY' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:301adaa9ed22ba3a' } }
process { withName: 'ADATA_UPSETGENES' { container = 'community.wave.seqera.io/library/adata_upsetgenes:211d6ce081803146' } }
process { withName: 'CELDA_DECONTX' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celda_bioconductor-rhdf5_bioconductor-singlecellexperiment:afe04c8130babd28' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'community.wave.seqera.io/library/liana_cell2cell_pyyaml:e1c79b6f5219622d' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'community.wave.seqera.io/library/celltypist:104e8c35bb960a72' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'community.wave.seqera.io/library/custom_collectsizes:394c38f6d11bac0a' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'community.wave.seqera.io/library/doublet_removal:0c37d3ab714cd54a' } }
process { withName: 'CYTETYPE' { container = 'community.wave.seqera.io/library/python_pyyaml_pydantic_anndata_pruned:2b8faa0a0bad36a5' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'community.wave.seqera.io/library/decoupler_pseudobulk:3544cf5bf51a67eb' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_differential:3bf6ae21f4145d90' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_sc_differential:ab5a3cf195f3b9e2' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'community.wave.seqera.io/library/pip_hugo-unifier:06c7d747e2da7e1c' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'community.wave.seqera.io/library/pip_hugo-unifier:06c7d747e2da7e1c' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'community.wave.seqera.io/library/liana_pyyaml:8505a353f9fdc1f5' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'community.wave.seqera.io/library/liana_pyyaml:8505a353f9fdc1f5' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:3e45d17b40a576b4' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/pydeseq2_differential:0a33917ef32b8155' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:8f34a2bdc7e69b98' } }
process { withName: 'SCANPY_BBKNN' { container = 'community.wave.seqera.io/library/bbknn_python_pyyaml_scanpy:bfcefc05f2cb0882' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_COMBAT' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_FILTER' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:78841aafc4e2a25a' } }
process { withName: 'SCANPY_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:78841aafc4e2a25a' } }
process { withName: 'SCANPY_LEIDEN' { container = 'community.wave.seqera.io/library/leidenalg_python-igraph_python_pyyaml_scanpy:e95dfba0e421f8af' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:78841aafc4e2a25a' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:00dca50fd1f8bfe6' } }
process { withName: 'SCANPY_PAGA' { container = 'community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:00dca50fd1f8bfe6' } }
process { withName: 'SCANPY_PCA' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_PLOTQC' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'community.wave.seqera.io/library/adjusttext_python_pyyaml_scanpy:aad81ffa527bab2f' } }
process { withName: 'SCANPY_READH5' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_SAMPLE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_TSNE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCANPY_UMAP' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:7f19b28d786b0222' } }
process { withName: 'SCDBLFINDER' { container = 'community.wave.seqera.io/library/scdblfinder:c7a5473fef665116' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'community.wave.seqera.io/library/python_pyyaml_pip_scib-metrics:726e693dce154d5e' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:6b7470a8dda01c5a' } }
process { withName: 'SCRY_DEVIANCE' { container = 'community.wave.seqera.io/library/scry_deviance:e6de94678d508788' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-glmgampoi_bioconductor-rhdf5_r-seurat:3a989b7e727c7057' } }
process { withName: 'SOUPX' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_r-seurat_r-soupx:453479138d70885b' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pip_symphonypy:1955ea21957841c8' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pip_symphonypy:1955ea21957841c8' } }
