process { withName: 'ADATA_ENTROPY' { conda = 'modules/local/adata/entropy/.conda-lock/linux_arm64-bd-a35a5a8ebc6b3c95_1.txt' } }
process { withName: 'ADATA_EXTEND' { conda = 'modules/local/adata/extend/.conda-lock/linux_arm64-bd-066a95cc9d707ff7_1.txt' } }
process { withName: 'ADATA_MERGE' { conda = 'modules/local/adata/merge/.conda-lock/linux_arm64-bd-7f19b28d786b0222_1.txt' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { conda = 'modules/local/adata/mergeembeddings/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'ADATA_MYGENE' { conda = 'modules/local/adata/mygene/.conda-lock/linux_arm64-bd-e90481ed3d99b9e5_1.txt' } }
process { withName: 'ADATA_PREPCELLXGENE' { conda = 'modules/local/adata/prepcellxgene/.conda-lock/linux_arm64-bd-7f19b28d786b0222_1.txt' } }
process { withName: 'ADATA_READCSV' { conda = 'modules/local/adata/readcsv/.conda-lock/linux_arm64-bd-301adaa9ed22ba3a_1.txt' } }
process { withName: 'ADATA_READRDS' { conda = 'modules/local/adata/readrds/.conda-lock/linux_arm64-bd-517c46f7c9acffeb_1.txt' } }
process { withName: 'ADATA_SETINDEX' { conda = 'modules/local/adata/setindex/.conda-lock/linux_arm64-bd-301adaa9ed22ba3a_1.txt' } }
process { withName: 'ADATA_SPLITCOL' { conda = 'modules/local/adata/splitcol/.conda-lock/linux_arm64-bd-301adaa9ed22ba3a_1.txt' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { conda = 'modules/local/adata/splitembeddings/.conda-lock/linux_arm64-bd-7f19b28d786b0222_1.txt' } }
process { withName: 'ADATA_SUBSETVAR' { conda = 'modules/local/adata/subsetvar/.conda-lock/linux_arm64-bd-301adaa9ed22ba3a_1.txt' } }
process { withName: 'ADATA_TORDS' { conda = 'modules/local/adata/tords/.conda-lock/linux_arm64-bd-4536d1d3eeed2542_1.txt' } }
process { withName: 'ADATA_UNIFY' { conda = 'modules/local/adata/unify/.conda-lock/linux_arm64-bd-301adaa9ed22ba3a_1.txt' } }
process { withName: 'ADATA_UPSETGENES' { conda = 'modules/local/adata/upsetgenes/.conda-lock/linux_arm64-bd-211d6ce081803146_1.txt' } }
process { withName: 'CELDA_DECONTX' { conda = 'modules/local/celda/decontx/.conda-lock/linux_arm64-bd-afe04c8130babd28_1.txt' } }
process { withName: 'CELL2CELL_TENSOR' { conda = 'modules/local/cell2cell/tensor/.conda-lock/linux_arm64-bd-e1c79b6f5219622d_1.txt' } }
process { withName: 'CELLTYPES_CELLTYPIST' { conda = 'modules/local/celltypist/.conda-lock/linux_arm64-bd-21b32fb84be0624e_1.txt' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { conda = 'modules/local/custom/aggregate_per_cell_annotations/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'CUSTOM_COLLECTSIZES' { conda = 'modules/local/custom/collectsizes/.conda-lock/linux_arm64-bd-394c38f6d11bac0a_1.txt' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { conda = 'modules/local/custom/doubletremoval/.conda-lock/linux_arm64-bd-c1d446ee7a9354d2_1.txt' } }
process { withName: 'CYTETYPE' { conda = 'modules/local/cytetype/.conda-lock/linux_arm64-bd-79d7cf33c8ae0c9f_1.txt' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { conda = 'modules/local/decoupler/pseudobulk/.conda-lock/linux_arm64-bd-3544cf5bf51a67eb_1.txt' } }
process { withName: 'DOUBLETDETECTION' { conda = 'modules/nf-core/doubletdetection/.conda-lock/linux_arm64-bd-8a6efd8ece04ea17_1.txt' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { conda = 'modules/local/edgepython/differential/.conda-lock/linux_arm64-bd-3bf6ae21f4145d90_2.txt' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { conda = 'modules/local/edgepython/sc_differential/.conda-lock/linux_arm64-bd-ab5a3cf195f3b9e2_2.txt' } }
process { withName: 'HUGOUNIFIER_APPLY' { conda = 'modules/local/hugounifier/apply/.conda-lock/linux_arm64-bd-06c7d747e2da7e1c_1.txt' } }
process { withName: 'HUGOUNIFIER_GET' { conda = 'modules/local/hugounifier/get/.conda-lock/linux_arm64-bd-06c7d747e2da7e1c_1.txt' } }
process { withName: 'LIANA_BYSAMPLE' { conda = 'modules/local/liana/bysample/.conda-lock/linux_arm64-bd-8505a353f9fdc1f5_1.txt' } }
process { withName: 'LIANA_RANKAGGREGATE' { conda = 'modules/local/liana/rankaggregate/.conda-lock/linux_arm64-bd-0f7537a515b9cfb4_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-3e45d17b40a576b4_1.txt' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { conda = 'modules/local/pydeseq2/differential/.conda-lock/linux_arm64-bd-0a33917ef32b8155_2.txt' } }
process { withName: 'SCANORAMA_INTEGRATE' { conda = 'modules/local/scanorama/integrate/.conda-lock/linux_arm64-bd-55b96af153fb3cbe_1.txt' } }
process { withName: 'SCANPY_BBKNN' { conda = 'modules/local/scanpy/bbknn/.conda-lock/linux_arm64-bd-bfcefc05f2cb0882_2.txt' } }
process { withName: 'SCANPY_CELLCYCLE' { conda = 'modules/local/scanpy/cellcycle/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'SCANPY_COMBAT' { conda = 'modules/local/scanpy/combat/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'SCANPY_FILTER' { conda = 'modules/local/scanpy/filter/.conda-lock/linux_arm64-bd-78841aafc4e2a25a_1.txt' } }
process { withName: 'SCANPY_HVGS' { conda = 'modules/local/scanpy/hvgs/.conda-lock/linux_arm64-bd-a35a5a8ebc6b3c95_1.txt' } }
process { withName: 'SCANPY_LEIDEN' { conda = 'modules/local/scanpy/leiden/.conda-lock/linux_arm64-bd-ea2b7eed06775603_1.txt' } }
process { withName: 'SCANPY_LOG1PNORM' { conda = 'modules/local/scanpy/log1pnorm/.conda-lock/linux_arm64-bd-78841aafc4e2a25a_1.txt' } }
process { withName: 'SCANPY_NEIGHBORS' { conda = 'modules/local/scanpy/neighbors/.conda-lock/linux_arm64-bd-00dca50fd1f8bfe6_1.txt' } }
process { withName: 'SCANPY_PAGA' { conda = 'modules/local/scanpy/paga/.conda-lock/linux_arm64-bd-00dca50fd1f8bfe6_1.txt' } }
process { withName: 'SCANPY_PCA' { conda = 'modules/local/scanpy/pca/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { conda = 'modules/local/scanpy/pearsonresidualshvgs/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'SCANPY_PLOTQC' { conda = 'modules/local/scanpy/plotqc/.conda-lock/linux_arm64-bd-7f19b28d786b0222_1.txt' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { conda = 'modules/local/scanpy/rankgenesgroups/.conda-lock/linux_arm64-bd-aad81ffa527bab2f_2.txt' } }
process { withName: 'SCANPY_READH5' { conda = 'modules/local/scanpy/readh5/.conda-lock/linux_arm64-bd-7f19b28d786b0222_1.txt' } }
process { withName: 'SCANPY_SAMPLE' { conda = 'modules/local/scanpy/sample/.conda-lock/linux_arm64-bd-7f19b28d786b0222_1.txt' } }
process { withName: 'SCANPY_SCRUBLET' { conda = 'modules/nf-core/scanpy/scrublet/.conda-lock/linux_arm64-bd-6b513bb03985cbb7_1.txt' } }
process { withName: 'SCANPY_TSNE' { conda = 'modules/local/scanpy/tsne/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'SCANPY_UMAP' { conda = 'modules/local/scanpy/umap/.conda-lock/linux_arm64-bd-c7da41c72b48c5cc_1.txt' } }
process { withName: 'SCARCHES_EXPIMAP' { conda = 'modules/local/scarches/expimap/.conda-lock/linux_arm64-bd-4c08567d3e9481e2_1.txt' } }
process { withName: 'SCDBLFINDER' { conda = 'modules/local/scdblfinder/.conda-lock/linux_arm64-bd-c7a5473fef665116_1.txt' } }
process { withName: 'SCRAN_NORMALIZATION' { conda = 'modules/local/scran/normalization/.conda-lock/linux_arm64-bd-6b7470a8dda01c5a_1.txt' } }
process { withName: 'SCRY_DEVIANCE' { conda = 'modules/local/scry/deviance/.conda-lock/linux_arm64-bd-e6de94678d508788_1.txt' } }
process { withName: 'SCVITOOLS_SCANVI' { conda = 'modules/local/scvitools/scanvi/.conda-lock/linux_arm64-bd-aca905fd8d74c4bc_1.txt' } }
process { withName: 'SCVITOOLS_SCVI' { conda = 'modules/local/scvitools/scvi/.conda-lock/linux_arm64-bd-aca905fd8d74c4bc_1.txt' } }
process { withName: 'SCVITOOLS_SOLO' { conda = 'modules/nf-core/scvitools/solo/.conda-lock/linux_arm64-bd-aca905fd8d74c4bc_1.txt' } }
process { withName: 'SEURAT_INTEGRATION' { conda = 'modules/local/seurat/integration/.conda-lock/linux_arm64-bd-3a989b7e727c7057_3.txt' } }
process { withName: 'SOUPX' { conda = 'modules/local/soupx/.conda-lock/linux_arm64-bd-453479138d70885b_3.txt' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { conda = 'modules/local/symphony/harmonyintegrate/.conda-lock/linux_arm64-bd-1b5be9d434d75f47_1.txt' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { conda = 'modules/local/symphony/mapembedding/.conda-lock/linux_arm64-bd-1b5be9d434d75f47_1.txt' } }
