process { withName: 'ADATA_ENTROPY' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy_pyarrow:803778b2933f5bc9' } }
process { withName: 'ADATA_EXTEND' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml_pyarrow:6427a8e8cd0e418b' } }
process { withName: 'ADATA_MERGE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ec0559841ac88fb2' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'ADATA_MYGENE' { container = 'community.wave.seqera.io/library/mygene_anndata_pyyaml:2078fdff1608539a' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ec0559841ac88fb2' } }
process { withName: 'ADATA_READCSV' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:eec9fad329c5006d' } }
process { withName: 'ADATA_READRDS' { container = 'community.wave.seqera.io/library/adata_readrds:771ff9c89e1f71db' } }
process { withName: 'ADATA_SETINDEX' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:eec9fad329c5006d' } }
process { withName: 'ADATA_SPLITCOL' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:eec9fad329c5006d' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ec0559841ac88fb2' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:eec9fad329c5006d' } }
process { withName: 'ADATA_TORDS' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_bioconductor-singlecellexperiment:7f4fd121bcbeb705' } }
process { withName: 'ADATA_UNIFY' { container = 'community.wave.seqera.io/library/anndata_python_pyyaml:eec9fad329c5006d' } }
process { withName: 'ADATA_UPSETGENES' { container = 'community.wave.seqera.io/library/adata_upsetgenes:99308af0235c51d3' } }
process { withName: 'CELDA_DECONTX' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celda_bioconductor-rhdf5_bioconductor-singlecellexperiment:195bce13eb18b882' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'community.wave.seqera.io/library/liana_cell2cell_pyyaml:50d977636ad3e43e' } }
process { withName: 'CELLDEX_FETCHREFERENCE' { container = 'community.wave.seqera.io/library/bioconductor-celldex_bioconductor-hdf5array_bioconductor-singlecellexperiment_r-yaml:13bf33457e3e7490' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'community.wave.seqera.io/library/celltypist:a4fa2621f1596f41' } }
process { withName: 'CELLTYPES_SINGLER' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celldex_bioconductor-hdf5array_bioconductor-rhdf5_pruned:74e0a8e51f7ab89c' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'community.wave.seqera.io/library/custom_collectsizes:5b6a03eb50fdf124' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'community.wave.seqera.io/library/doublet_removal:e440f2e80dfdf805' } }
process { withName: 'CYTETYPE' { container = 'community.wave.seqera.io/library/python_pyyaml_pydantic_anndata_pruned:87cef5886d0c62d2' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'community.wave.seqera.io/library/decoupler_pseudobulk:22ffb587b73301b8' } }
process { withName: 'DOUBLETDETECTION' { container = 'community.wave.seqera.io/library/anndata_pip_python_pyyaml_pruned:7bde77eb6c6fbc17' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_differential:78291b4bf99b9d80' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_sc_differential:cd9a9abd8ba6d7e3' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'community.wave.seqera.io/library/pip_hugo-unifier:1545f5b4052d6b2d' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'community.wave.seqera.io/library/pip_hugo-unifier:1545f5b4052d6b2d' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'community.wave.seqera.io/library/liana_pyyaml:c2bc77d30223be1f' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'community.wave.seqera.io/library/liana_pyyaml_pyarrow:5fc198487f068dd6' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--839587b417d23042' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/pydeseq2_differential:c4673c2cbf3ec8a7' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama_pyarrow:100d7fce0082a614' } }
process { withName: 'SCANPY_BBKNN' { container = 'community.wave.seqera.io/library/bbknn_python_pyyaml_scanpy:adc0dbad6ddd2876' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'SCANPY_COMBAT' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'SCANPY_FILTER' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:7df6225e45ce62d7' } }
process { withName: 'SCANPY_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy_pyarrow:803778b2933f5bc9' } }
process { withName: 'SCANPY_LEIDEN' { container = 'community.wave.seqera.io/library/leidenalg_python-igraph_python_pyyaml_pruned:bcac6e9b185de544' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:7df6225e45ce62d7' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:53120062012176bc' } }
process { withName: 'SCANPY_PAGA' { container = 'community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:53120062012176bc' } }
process { withName: 'SCANPY_PCA' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'SCANPY_PLOTQC' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ec0559841ac88fb2' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'community.wave.seqera.io/library/adjusttext_python_pyyaml_scanpy:bb9fae9f02f816e2' } }
process { withName: 'SCANPY_READH5' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ec0559841ac88fb2' } }
process { withName: 'SCANPY_SAMPLE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:ec0559841ac88fb2' } }
process { withName: 'SCANPY_SCRUBLET' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_scikit-image_pyarrow:baaeebe49bb1193e' } }
process { withName: 'SCANPY_TSNE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'SCANPY_UMAP' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:4be15c4d717947be' } }
process { withName: 'SCARCHES_EXPIMAP' { container = 'community.wave.seqera.io/library/scvi-tools_scanpy_scipy_pyarrow_pruned:fb32ad9bb2dc1d4b' } }
process { withName: 'SCDBLFINDER' { container = 'community.wave.seqera.io/library/scdblfinder:bf67b6150784b907' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'community.wave.seqera.io/library/python_pyyaml_pip_scib-metrics:9752793e315dcbf9' } }
process { withName: 'SCIMILARITY_ANNOTATE' { container = 'community.wave.seqera.io/library/python_anndata_pyyaml_zarr_pruned:540881bb5b68c416' } }
process { withName: 'SCIMILARITY_EMBED' { container = 'community.wave.seqera.io/library/python_anndata_pyyaml_zarr_pruned:e48f77182189ae52' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:88502e87f79b51e8' } }
process { withName: 'SCRY_DEVIANCE' { container = 'community.wave.seqera.io/library/scry_deviance:42e91d77e88fcfe6' } }
process { withName: 'SCVITOOLS_SCANVI' { container = 'community.wave.seqera.io/library/scvi-tools_pyarrow:1734dedd3c3d134b' } }
process { withName: 'SCVITOOLS_SCVI' { container = 'community.wave.seqera.io/library/scvi-tools_pyarrow:1734dedd3c3d134b' } }
process { withName: 'SCVITOOLS_SOLO' { container = 'community.wave.seqera.io/library/scvi-tools_pyarrow:1734dedd3c3d134b' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-glmgampoi_bioconductor-rhdf5_r-seurat:219408537f886c16' } }
process { withName: 'SOUPX' { container = 'community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_r-seurat_r-soupx:476949c3c02c399d' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pip_pruned:b85ec8f003db501a' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_pip_pruned:b85ec8f003db501a' } }
