process { withName: 'ADATA_ENTROPY' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy_pyarrow:75a54395abc3f1c1' } }
process { withName: 'ADATA_EXTEND' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml_pyarrow:04b435f473791af6' } }
process { withName: 'ADATA_MERGE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:0177c1b99592b0c0' } }
process { withName: 'ADATA_MERGEEMBEDDINGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'ADATA_MYGENE' { container = 'oras://community.wave.seqera.io/library/mygene_anndata_pyyaml:5ff926cf5f78b7f3' } }
process { withName: 'ADATA_PREPCELLXGENE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:0177c1b99592b0c0' } }
process { withName: 'ADATA_READCSV' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:1b7ad0ce87fa1eee' } }
process { withName: 'ADATA_READRDS' { container = 'oras://community.wave.seqera.io/library/adata_readrds:db22c74dc38cafad' } }
process { withName: 'ADATA_SETINDEX' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:1b7ad0ce87fa1eee' } }
process { withName: 'ADATA_SPLITCOL' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:1b7ad0ce87fa1eee' } }
process { withName: 'ADATA_SPLITEMBEDDINGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:0177c1b99592b0c0' } }
process { withName: 'ADATA_SUBSETVAR' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:1b7ad0ce87fa1eee' } }
process { withName: 'ADATA_TORDS' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_bioconductor-singlecellexperiment:1a865f9d6b840c65' } }
process { withName: 'ADATA_UNIFY' { container = 'oras://community.wave.seqera.io/library/anndata_python_pyyaml:1b7ad0ce87fa1eee' } }
process { withName: 'ADATA_UPSETGENES' { container = 'oras://community.wave.seqera.io/library/adata_upsetgenes:5b6d09876e1fb7e6' } }
process { withName: 'CELDA_DECONTX' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celda_bioconductor-rhdf5_bioconductor-singlecellexperiment:88650a8823f87eb5' } }
process { withName: 'CELL2CELL_TENSOR' { container = 'oras://community.wave.seqera.io/library/liana_cell2cell_pyyaml:4aa21e57bc12ba82' } }
process { withName: 'CELLDEX_FETCHREFERENCE' { container = 'oras://community.wave.seqera.io/library/bioconductor-celldex_bioconductor-hdf5array_bioconductor-singlecellexperiment_r-yaml:c4e76f99d7b45118' } }
process { withName: 'CELLTYPES_CELLTYPIST' { container = 'oras://community.wave.seqera.io/library/celltypist:a39c4883c4156923' } }
process { withName: 'CELLTYPES_SINGLER' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-celldex_bioconductor-hdf5array_bioconductor-rhdf5_pruned:74e0a8e51f7ab89c' } }
process { withName: 'CUSTOM_AGGREGATE_PER_CELL_ANNOTATIONS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'CUSTOM_COLLECTSIZES' { container = 'oras://community.wave.seqera.io/library/custom_collectsizes:58264c9b93af280a' } }
process { withName: 'CUSTOM_DOUBLETREMOVAL' { container = 'oras://community.wave.seqera.io/library/doublet_removal:ada23adf745a0f92' } }
process { withName: 'CYTETYPE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_pydantic_anndata_pruned:7739476fcff213a7' } }
process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'oras://community.wave.seqera.io/library/decoupler_pseudobulk:ad376bac82cefac9' } }
process { withName: 'DOUBLETDETECTION' { container = 'oras://community.wave.seqera.io/library/anndata_pip_python_pyyaml_pruned:a70277637be003b0' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_differential:61866ca419450dcb' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_sc_differential:a14f4342be48ebc0' } }
process { withName: 'HUGOUNIFIER_APPLY' { container = 'oras://community.wave.seqera.io/library/pip_hugo-unifier:b78b03744591e4f4' } }
process { withName: 'HUGOUNIFIER_GET' { container = 'oras://community.wave.seqera.io/library/pip_hugo-unifier:b78b03744591e4f4' } }
process { withName: 'LIANA_BYSAMPLE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml:0bd9764a267aa0cb' } }
process { withName: 'LIANA_RANKAGGREGATE' { container = 'oras://community.wave.seqera.io/library/liana_pyyaml_pyarrow:e3b6b0c512e925dc' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--cb7458fda84d6393' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/pydeseq2_differential:7b3db7d69f6a270e' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama_pyarrow:0ac84c412eb5d0e7' } }
process { withName: 'SCANPY_BBKNN' { container = 'oras://community.wave.seqera.io/library/bbknn_python_pyyaml_scanpy:842392c97280209a' } }
process { withName: 'SCANPY_CELLCYCLE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'SCANPY_COMBAT' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'SCANPY_FILTER' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:31c818cf3b5a8073' } }
process { withName: 'SCANPY_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy_pyarrow:75a54395abc3f1c1' } }
process { withName: 'SCANPY_LEIDEN' { container = 'oras://community.wave.seqera.io/library/leidenalg_python-igraph_python_pyyaml_pruned:965e5c103be89904' } }
process { withName: 'SCANPY_LOG1PNORM' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_anndata_scanpy:31c818cf3b5a8073' } }
process { withName: 'SCANPY_NEIGHBORS' { container = 'oras://community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:9c4c54f819274de5' } }
process { withName: 'SCANPY_PAGA' { container = 'oras://community.wave.seqera.io/library/python-igraph_python_pyyaml_scanpy:9c4c54f819274de5' } }
process { withName: 'SCANPY_PCA' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'SCANPY_PLOTQC' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:0177c1b99592b0c0' } }
process { withName: 'SCANPY_RANKGENESGROUPS' { container = 'oras://community.wave.seqera.io/library/adjusttext_python_pyyaml_scanpy:1bc06fc3a3fcc9c9' } }
process { withName: 'SCANPY_READH5' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:0177c1b99592b0c0' } }
process { withName: 'SCANPY_SAMPLE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:0177c1b99592b0c0' } }
process { withName: 'SCANPY_SCRUBLET' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_scikit-image_pyarrow:b1336aefc4ae1230' } }
process { withName: 'SCANPY_TSNE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'SCANPY_UMAP' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pyarrow:1c0f78a99fc3c95e' } }
process { withName: 'SCARCHES_EXPIMAP' { container = 'oras://community.wave.seqera.io/library/scvi-tools_scanpy_scipy_pyarrow_pruned:27f4791c7bea57d5' } }
process { withName: 'SCDBLFINDER' { container = 'oras://community.wave.seqera.io/library/scdblfinder:2f198185419063e8' } }
process { withName: 'SCIBMETRICS_BENCHMARK' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_pip_scib-metrics:2b4edaf51774369b' } }
process { withName: 'SCIMILARITY_ANNOTATE' { container = 'oras://community.wave.seqera.io/library/python_anndata_pyyaml_zarr_pruned:71db3798e7fe12c3' } }
process { withName: 'SCIMILARITY_EMBED' { container = 'oras://community.wave.seqera.io/library/python_anndata_pyyaml_zarr_pruned:71db3798e7fe12c3' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:9a526df3f432bd30' } }
process { withName: 'SCRY_DEVIANCE' { container = 'oras://community.wave.seqera.io/library/scry_deviance:5d41236dea2d0037' } }
process { withName: 'SCVITOOLS_SCANVI' { container = 'oras://community.wave.seqera.io/library/scvi-tools_pyarrow:47052f91e0d38119' } }
process { withName: 'SCVITOOLS_SCVI' { container = 'oras://community.wave.seqera.io/library/scvi-tools_pyarrow:47052f91e0d38119' } }
process { withName: 'SCVITOOLS_SOLO' { container = 'oras://community.wave.seqera.io/library/scvi-tools_pyarrow:47052f91e0d38119' } }
process { withName: 'SEURAT_INTEGRATION' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-glmgampoi_bioconductor-rhdf5_r-seurat:0947a67237d086a8' } }
process { withName: 'SOUPX' { container = 'oras://community.wave.seqera.io/library/bioconductor-anndatar_bioconductor-rhdf5_r-seurat_r-soupx:b917ee811bfad09e' } }
process { withName: 'SYMPHONY_HARMONYINTEGRATE' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pip_pruned:5e17030b1a67eacf' } }
process { withName: 'SYMPHONY_MAPEMBEDDING' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy_pip_pruned:5e17030b1a67eacf' } }
