process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'oras://community.wave.seqera.io/library/decoupler_pseudobulk:b0b7d806f5ed5995' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_pseudobulk:709d18f57c0a0aa0' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/edgepython_sc:84cf1ca48e34feb4' } }
process { withName: 'MULTIQC' { container = 'oras://community.wave.seqera.io/library/multiqc:1.35--f79e87603d312ac0' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/pydeseq2_differential:45402202146782a6' } }
process { withName: 'SCANPY_PEARSONRESIDUALS' { container = 'oras://community.wave.seqera.io/library/python_pyyaml_scanpy:4b54127cdfe403f0' } }
process { withName: 'SCRY_DEVIANCE' { container = 'oras://community.wave.seqera.io/library/scry_deviance:fcc163e55be10858' } }
