process { withName: 'DECOUPLER_PSEUDOBULK' { container = 'community.wave.seqera.io/library/decoupler_pseudobulk:22ffb587b73301b8' } }
process { withName: 'EDGEPYTHON_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_pseudobulk:d8a69e7fb7ac4371' } }
process { withName: 'EDGEPYTHON_SCDIFFERENTIAL' { container = 'community.wave.seqera.io/library/edgepython_sc:76c19aa233370b64' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.35--839587b417d23042' } }
process { withName: 'PYDESEQ2_DIFFERENTIAL' { container = 'community.wave.seqera.io/library/pydeseq2_differential:4c8249b844ab7a1a' } }
process { withName: 'SCANORAMA_INTEGRATE' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy_scanorama:095181a9ed452380' } }
process { withName: 'SCANPY_PEARSONRESIDUALS_HVGS' { container = 'community.wave.seqera.io/library/python_pyyaml_scanpy:641b33efb395c24e' } }
process { withName: 'SCRAN_NORMALIZATION' { container = 'community.wave.seqera.io/library/bioconductor-scran_bioconductor-scater_bioconductor-anndatar_bioconductor-singlecellexperiment_bioconductor-rhdf5:88502e87f79b51e8' } }
process { withName: 'SCRY_DEVIANCE' { container = 'community.wave.seqera.io/library/scry_deviance:42e91d77e88fcfe6' } }
